<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>マップを作ろう！</title>

    <link th:substituteby="common/head :: common_head"/>

    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/ui.enchant.js"></script>
    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/applied002.js"></script>
    <script type="text/javascript" src="js/applied002_action.js"></script>

    <link rel="stylesheet" href="css/applied002.css" />
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">マップを作ろう！</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="col-sm-5 text-right">
                                マス目のひょうじ：
                            </div>
                            <div class="col-sm-7">
                                <input type="checkbox" id="grid-checkbox" checked="checked" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5 text-right">
                                マップ：
                            </div>
                            <div class="col-sm-7">
                                <div class="input-group input-group-lg">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="map-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <div id="map-selected">えらんでください</div>
                                            <span class="caret"></span>
                                        </button>
                                        <input type="hidden" name="dropdown-value" value="" />
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="map-dropdown-menu">
                                            <li><a href="#"><img src="images/map0/map0-0.png" data-id="0" data-collision="0" />(0)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-1.png" data-id="1" data-collision="1" />(1)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-2.png" data-id="2" data-collision="0" />(2)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-3.png" data-id="3" data-collision="0" />(3)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-4.png" data-id="4" data-collision="1" />(4)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-5.png" data-id="5" data-collision="0" />(5)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-6.png" data-id="6" data-collision="1" />(6)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-7.png" data-id="7" data-collision="0" />(7)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-8.png" data-id="8" data-collision="0" />(8)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-9.png" data-id="9" data-collision="1" />(9)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-10.png" data-id="10" data-collision="0" />(10)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-11.png" data-id="11" data-collision="0" />(11)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-12.png" data-id="12" data-collision="1" />(12)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-13.png" data-id="13" data-collision="0" />(13)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-14.png" data-id="14" data-collision="0" />(14)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-15.png" data-id="15" data-collision="1" />(15)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-16.png" data-id="16" data-collision="1" />(16)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-17.png" data-id="17" data-collision="0" />(17)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-18.png" data-id="18" data-collision="0" />(18)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-19.png" data-id="19" data-collision="1" />(19)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-20.png" data-id="20" data-collision="1" />(20)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-21.png" data-id="21" data-collision="1" />(21)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-22.png" data-id="22" data-collision="1" />(22)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-23.png" data-id="23" data-collision="1" />(23)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-24.png" data-id="24" data-collision="1" />(24)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-25.png" data-id="25" data-collision="1" />(25)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-26.png" data-id="26" data-collision="1" />(26)</a></li>
                                            <li><a href="#"><img src="images/map0/map0-27.png" data-id="27" data-collision="1" />(27)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <button class="btn  btn-lg btn-default" id="clear" onclick="viewClear()"><span class="glyphicon glyphicon-remove"></span>  クリア</button>
                            <button class="btn  btn-lg btn-primary" id="view" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-check"></span>  はいれつをかくにん</button>
                        </div>
                        <div class="col-sm-12">
                            <hr />
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">なまえ</span>
                                <input type="text" class="form-control" placeholder="マップの名前を入れてね" id="name" />
                            </div>
                            <br />
                            <button class="btn btn-lg btn-primary" id="save"><span class="glyphicon glyphicon-save"></span>  ほぞん</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    マップデータ
                </div>
                <div class="modal-body" id="map-data-view">
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
