<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>くまさんを動かそう！</title>

    <link th:substituteby="common/head :: common_head"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/jscolor.min.js"></script>

    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/applied001_action.js"></script>
    <script type="text/javascript" src="js/applied001.js"></script>

    <link rel="stylesheet" href="css/applied001.css" />
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div th:include="common/toggle-button :: common_toggle_button"></div>
    <div id="editor" class="collapse">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">くまさんを動かそう！</h2>
                    </div>
                    <div class="panel-body panel-padding">
                            <pre id="editor-space">
ゲーム画面のせってい {

    はいけい色 = <button class="btn jscolor {valueElement:'color-picker', value:'FFF'}" id="color-button">クリックして色をえらんでね</button>
                <input type="hidden" id="color-picker" />

    くまさんのせってい {

        くまさんの場所（よこ） = <input type="text" id="x-coordinate" class="form-control coordinate-form" value="0" /> （1〜20の数）

        くまさんの場所（たて） = <input type="text" id="y-coordinate" class="form-control coordinate-form" value="0" /> （1〜20の数）


        くまさんの動き = <select class="form-control" id="select-move">
            <option value="notMove">動かない</option>
            <option value="auto">じどうで動く</option>
            <option value="manual">キーボードで動く</option>
        </select>

        くまさんのしゅるい = <select class="form-control" id="select-bear">
            <option value="bear">茶色のくまさん</option>
            <option value="whiteBear">白いくまさん</option>
            <option value="girlBear">リボンのついたくまさん</option>
        </select>
    }
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
