<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>くまさんを動かそう！</title>

    <link th:substituteby="common/head :: common_head"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/jscolor.min.js"></script>

    <script type="text/javascript" src="js/applied001_action.js"></script>
    <script type="text/javascript" src="js/applied001.js"></script>

    <link rel="stylesheet" href="css/applied001.css" />
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">くまさんを動かそう！</h2>
                    </div>
                    <div class="panel-body panel-padding">
                            <pre id="editor-space">
enchant();

window.onload = function() {
    var core = new Core(320, 320);
    core.preload('chara1.png');
    core.fps = 10;

    // はいけいの色をへんこう
    core.backgroundColor = <button class="btn jscolor {valueElement:'color-picker', value:'3CB371'}" id="color-button">クリックして色をえらんでね</button>
                           <input type="hidden" id="color-picker" />

    core.onload = function() {
        var bear = new Sprite(32, 32);
        bear.image = core.assets['chara1.png'];
        bear.x = 0;
        bear.y = 0;

        bear.on('enterframe', function() {

            // キャラクターの動きをへんこう
            <select class="form-control" id="select-move">
                <option value="notMove">動かない</option>
                <option value="auto">じどうで動かす</option>
                <option value="manual">キーボードで動かす</option>
            </select>
        });

        core.rootScene.addChild(bear);

            // キャラクターをえらぶ
            <select class="form-control" id="select-bear">
                <option value="bear">bear.frame = [0, 1, 0, 2];</option>
                <option value="whiteBear">bear.frame = [5, 6, 5, 7];</option>
                <option value="girlBear">bear.frame = [10, 11, 10, 12];</option>
            </select>
    };

    core.start();
};
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
