<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ぶたさんをじゆうにうごかそう！</title>
    <link th:substituteby="common/head :: common_head"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/ui.enchant.js"></script>
    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/condition002.js"></script>
    <link rel="stylesheet" href="css/condition002.css" />
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">ぶたさんをじゆうにうごかそう！</h2>
                    </div>
                    <div class="panel-body panel-padding">
                        <pre>
    ぶたさんのたて位置 = <input type="text" value="100" id="enemy-height" />;
    ぶたさんのよこ位置 = <input type="text" value="100" id="enemy-width" />;
    ぶたさんのスピード = <input type="text" value="10" id="enemy-speed" />;

    if (ゲームの時間 / ぶたさんの動く幅 <input type="text" value="4" id="motion-height" />)
        ＜ (ぶたさんの動く幅/2){
            ぶたさんは上へ
    } else {
            ぶたさんは下へ
    }
                        </pre>
                        <div class="input-group">
                            <button class="btn btn-lg btn-primary" onclick="editData()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
