<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>迷路を抜けよう！</title>
    <link th:substituteby="common/head :: common_head"/>
    <link th:substituteby="common/head-chat :: common_head_chat"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/ui.enchant.js"></script>
    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/condition001.js"></script>
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">迷路を抜けよう！</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">どちらにまがる？</span>
                            <select name ="rotate-dir" class="form-control" id="rotate-dir">
                                <option value="2">右</option>
                                <option value="3">左</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <button class="btn btn-lg btn-primary" onclick="editData()">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">チャット</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="名前" id="name" />
                                <textarea class="form-control" placeholder="メッセージ" id="message" cols="3"></textarea>
                                <button class="btn btn-sm btn-primary" id="send">送信</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <th class="col-sm-2">日時</th>
                                    <th class="col-sm-2">名前</th>
                                    <th class="col-sm-8">メッセージ</th>
                                    </thead>
                                    <tbody id="messages">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
