<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ざひょうを数で見てみよう！</title>
    <link th:substituteby="common/head :: common_head"/>
    <link th:substituteby="common/head-chat :: common_head_chat"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/ui.enchant.js"></script>
    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/coordinate002.js"></script>
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">ざひょうを数で見てみよう！</h2>
                    </div>
                    <div class="panel-body">
                        <p>クマはここにいるよ</p>
                        <div class="col-sm-6">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">よこ</span>
                                <input type="text" class="form-control" value="" id="location-x" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">たて</span>
                                <input type="text" class="form-control" value="" id="location-y" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
