<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>JavajoTeachingForKids</title>
    <link th:substituteby="common/head :: common_head"/>
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6">
                <img src="javajo.png" />
            </div>
            <div class="col-lg-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            むずかしさ：<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                            <br />
                            "へんすう"について学ぼう！
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="stage-variable001" target="stage">モンスターをたおそう！</a></li>
                            <li><a href="stage-variable002" target="stage">モンスターをよけよう！</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            むずかしさ：<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                            <br />
                            "ざひょう"について学ぼう！
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="stage-coordinate002" target="stage">ざひょうを数で見てみよう！</a></li>
                            <li><a href="stage-coordinate001" target="stage">だっしゅつしよう！</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            むずかしさ：<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                            <br />
                            "くりかえし"について学ぼう！
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="stage-iteration002" target="stage">くりかえしを使って図を作ってみよう！</a></li>
                            <li><a href="stage-iteration001" target="stage">ふやした虫をけそう！</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            むずかしさ：<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                            <br />
                            "じょうけん"について学ぼう！
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="stage-condition001" target="stage">ゴールにたどりつこう！</a></li>
                            <li><a href="stage-condition002" target="stage">ぶたさんをじゆうにうごかそう！</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            むずかしさ：<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                            <br />
                            時間があったらやってみよう！
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="stage-applied001" target="stage">くまさんを動かそう！</a></li>
                            <li><a href="stage-applied002" target="stage">マップを作ろう！</a></li>
                            <li><a href="stage-applied003" target="stage">ソースコードを書いてみよう！</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>

