<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Stage001</title>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/avatar.enchant.js"></script>
    <script type="text/javascript" src="plugins/nineleap.enchant.js"></script>
    <script type="text/javascript" src="js/stage001.js"></script>
    <style type="text/css">
        body {
        margin: 0;
        padding: 0;
        }
    </style>
</head>
<body>
</body>
</html>
