<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Stage001</title>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/avatar.enchant.js"></script>
    <script type="text/javascript" src="plugins/ui.enchant.js"></script>
    <script type="text/javascript" src="js/stage001.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/default.css" />
</head>
<body class="container">
    <div id="editor">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">敵を倒そう！</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Your Life</span>
                            <input type="text" class="form-control" value="10" id="your-life" />
                        </div>
                        <br />
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Your Attack</span>
                            <input type="text" class="form-control" value="1" id="your-attack" />
                        </div>
                        <br />
                        <div class="input-group  input-group-lg">
                            <span class="input-group-addon">Enemy Life</span>
                            <input type="text" class="form-control" value="10000" id="enemy-life" />
                        </div>
                        <br />
                        <div class="input-group  input-group-lg">
                            <span class="input-group-addon">Enemy Attack</span>
                            <input type="text" class="form-control" value="2" id="enemy-attack" />
                        </div>
                        <br />
                        <div class="input-group">
                            <button class="btn btn-lg btn-primary" onclick="editData()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
