<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Stage203</title>

    <link th:substituteby="common/head :: common_head"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/stage203_action.js"></script>
    <script type="text/javascript" src="js/stage203.js"></script>

    <link rel="stylesheet" href="css/stage203.css" />
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">stage203.js</h2>
                    </div>
                    <div class="panel-body panel-padding">
                        <div class="input-group">
                            <button id="modal-open" class="btn btn-lg btn-primary">Editorを開く</button>
                        </div>
                    </div>
                    <div id="modal-content">
                        function createGameScene() {
                        <div class="indent">var scene = new Scene();</div>
                        <textarea id="text-editor"></textarea>
                        <div class="indent">return scene;</div>
                        }
                        <div id="button-style">
                            <button type="button" id="modal-close" class="btn btn-info">閉じる</button>
                            <button type="button" id="run" class="btn btn-primary">実行</button>
                        </div>
                    </div>
                    <div id="modal-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
