<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>敵を倒そう！</title>
    <link th:substituteby="common/head :: common_head"/>
    <script type="text/javascript" src="enchant.js"></script>
    <script type="text/javascript" src="plugins/avatar.enchant.js"></script>
    <script type="text/javascript" src="plugins/ui.enchant.js"></script>
    <script type="text/javascript" src="js/stage-common.js"></script>
    <script type="text/javascript" src="js/variable001.js"></script>
</head>
<body>
<div th:include="common/header :: common_header"></div>

<div class="container">
    <div id="enchant-stage"></div>
    <div id="editor">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">敵を倒そう！</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">あなたの体力＝</span>
                            <input type="text" class="form-control" value="10" id="your-life" />
                        </div>
                        <br />
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">あなたの攻撃力＝</span>
                            <input type="text" class="form-control" value="1" id="your-attack" />
                        </div>
                        <br />
                        <div class="input-group  input-group-lg">
                            <span class="input-group-addon">敵の体力＝</span>
                            <input type="text" class="form-control" value="10000" id="enemy-life" />
                        </div>
                        <br />
                        <div class="input-group  input-group-lg">
                            <span class="input-group-addon">敵の攻撃力＝</span>
                            <input type="text" class="form-control" value="2" id="enemy-attack" />
                        </div>
                        <br />
                        <div class="input-group">
                            <button class="btn btn-lg btn-primary" onclick="editData()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="common/footer :: common_footer"></div>

</body>
</html>
