@charset "utf-8";

.panel-padding {
    padding: 0;
}

#editor-space {
    background-color: white;
    border: 0;
    border-radius: 0;
}

#color-picker {
    width: 60px;
    height: 30px;
    display:inline;
    margin: auto 2px;
    padding: 0;
    text-align : center;
}

#select-move, #select-bear {
    width: 200px;
    height: 30px;
    display:inline;
}

#color-button {
    border-color: silver;
}
