@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

#enchant-stage {
    float: left;
}

#editor {
    float: left !imoirtant;
    width: 500px;
    margin: 0px 10px;
}

#mapDropdownMenu {
    width: 300px;
}

#mapSelected {
    float: left;
}

ul > li {
    float: left;
    width: 32%;
    border: none;
}

ul > li:nth-child(3n+2) {
    margin: 0 1%;
}
